<header>
  <h1><a href="/">Alojamento.pt</a></h1>
  <p><em>Artigos sobre alojamento</em></p>

  <div class="header-banner-large">
    {% include adsense.html %}
    <a href="https://www.booking.com/s/11_6/66469c4d"
      ><img style="border: 1px dashed blue; padding: 10px" src="{{
        "/assets/15euros.jpg" | absolute_url
      }}" /></a
    >
  </div>

  <div class="header-banner-small">
    {% include ad_block.html %}
  </div>

  <span class="latest-article">Últimos artigos sobre alojamento</span>

  <ul class="index" markdown="0">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</header>
